extends ../layout

block content
  if errors
    ul
      each error in errors
        li.error= error
  form(action=`/books/${book.id}?_method=PATCH`, method='post')
    p
      label(for='title') Title
      input#title(type='text', name='title', value=book.title, required)
    p
      label(for='author') Author
      input#author(type='text', name='author', value=book.author, required)
    p
      label(for='genre') Genre
      input#genre(type='text', name='genre', value=book.genre, required)
    p
      label(for='first_published') First Published
      input#first_published(type='text', name='first_published', value=book.first_published, pattern='[0-9]{4}', placeholder='1992', minlength='4', maxlength='4')
    p
      input(type='submit', value='Update Book')

  aside
    h2 Loan History
    if loans.length > 0
      table
        thead
          tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
        tbody
          each loan in loans
            tr
              td
                a(href=`/books/${book.id}`)= book.title
              td
                a(href=`/patrons/${loan.Patron.id}`)= loan.Patron.fullName
              td= loan.loaned_on
              td= loan.return_by
              td= loan.returned_on
              td
                if !loan.returned_on
                  a.button(href='#') Return Book
    else
      p This book has not been checked out before.
