extends ../layout

block content
  if errors
    ul
      each error in errors
        li.error= error
  form(action=`/books/${results.id}?_method=PATCH`, method='post')
    p
      label(for='title') Title
      input#title(type='text', name='title', value=results.title, required)
    p
      label(for='author') Author
      input#author(type='text', name='author', value=results.author, required)
    p
      label(for='genre') Genre
      input#genre(type='text', name='genre', value=results.genre, required)
    p
      label(for='first_published') First Published
      input#first_published(type='text', name='first_published', value=results.first_published, pattern='[0-9]{4}', placeholder='1992', minlength='4', maxlength='4')
    p
      input(type='submit', value='Update Book')

  aside
    h2 Loan History
    if results.Loans
      table
        thead
          tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
        tbody
          each loan in results.Loans
            tr
              td
                a(href=`/books/${results.id}`)= results.title
              td
                a(href='#')= loan.Patron.fullName
              td= loan.loaned_on
              td= loan.return_by
              td= loan.returned_on
              td
                if !loan.returned_on
                  a.button(href='#') Return Book
    else
      p This book has not been checked out before.
