mixin header(resource)
  - var resourceLC = resource.toLowerCase()
  p
    a.button(href=`/${resourceLC}s/add`)= `Add New ${resource}`
  p Filters
    |
    |
    a(href=`/${resourceLC}s`) All
    |
    | |
    |
    a(href=`/${resourceLC}s?filter=overdue`) Overdue
    |
    | |
    |
    a(href=`/${resourceLC}s?filter=checked-out`) Checked Out